<div class="empty-view">
<header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-role="view-title"></span>
            <a class="button-icon button-back" data-role="backbutton" data-align="left"></a>
            <a class="button-icon button-save" data-role="button" data-align="right" data-bind="events: {click: updateProfile }"></a>
        </div>
    </header>
    <div align="center">
        <img src="Images/Logo.jpg" width="50%" data-role="image" data-align="right" />
    </div>    
    <form id="edit-profile-form">
        <div class="content">
            <ul data-role="listview" data-style="inset">                
                <li>
                    <label>
                        <span>Kullanıcı Adınız</span>
                        <input name="user-name" type="text" data-bind="value: profile.Username" required>
                    </label>
                </li>
                <li>
                    <label>
                        <span>Şifreniz</span>
                        <input name="user-password" type="password" data-bind="value: profile.DisplayName">
                    </label>
                </li>
                <li>
                    <label>   
                        <span>&nbsp;</span>
                        <input name="user-password" type="submit" data-bind="value: profile.DisplayName" class="center_block_login_btn">
                    </label>
                </li>
            </ul>
        </div>
    </form>
</div>

</div>